In [ ]:
# Dictionary
# Indexing
# Ordered
# Mulitiple and Duplicate data
# Mutable

In [10]:
d = {}
type(d)

dict

In [12]:
d = {}
e = dict()
print(type(d))
print(type(e))

<class 'dict'>
<class 'dict'>

In [16]:
# d = {<key>:<value>,<key>: <value>}
d = {"a": "apple", "b": "ball", "c": "cat"}
a = {1:1, 2:4, 3:9, 4:16} # square
print(a,d)
print(type(a), type(d))

{1: 1, 2: 4, 3: 9, 4: 16} {'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'> <class 'dict'>

In [17]:
#Indexing # Mapping

d["a"]

'apple'

In [21]:
d = {"a": "apple", "b": "ball", "c": "cat", "C":"cat"}
print(d) # key cannot be duplicated.

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'C': 'cat'}

In [22]:
d = {"a": "apple", "b": "ball", "c": "cat", "c":"Cat"}
print(d) # key cannot be duplicated, value can be same.

{'a': 'apple', 'b': 'ball', 'c': 'Cat'}

In [23]:
a ={}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [37]:
d = {}
n = int(input("Enter n  = "))
for i in range(n):
    name = input("Enter name  = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    d[key] = value
    
print(d)

Enter n  = 2
Enter name  = Ram
Enter phone = 9841677809
Enter name  = Shyam
Enter phone = 987654321
{'Ram': 9841677809, 'Shyam': 987654321}

In [24]:
d ={'Ram': 9841687908, 'Shyam': 98765676787}
len(d) # lenght is seperated by commas.

2

In [25]:
d ={'Ram': 9841687908, 'Shyam': 98765676787} #to read use for loop
for i in d:
    print(i)

Ram
Shyam

In [26]:
d ={'Ram': 9841687908, 'Shyam': 98765676787}
for i in d.values(): # to print values in dictionary
    print(i)

9841687908
98765676787

In [27]:
d ={'Ram': 9841687908, 'Shyam': 98765676787}
for i in d.items(): # to print both key and values.
    print(i)

('Ram', 9841687908)
('Shyam', 98765676787)

In [28]:
l =[]
for i in d.items():
    l.append(i)

print(l) # to be ale to get output in list format.
dict(l) # to be able to convert to dictionary.

[('Ram', 9841687908), ('Shyam', 98765676787)]

{'Ram': 9841687908, 'Shyam': 98765676787}

In [29]:
d = {'Ram': 9841687908, 'Shyam': 98765676787}
a = {1:1, 2:4, 3:9, 4:16} 
#can't concatinate in dictionary
# can't duplicate in dictionary
# can't enlarge

{'Ram': 9841687908, 'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}

In [38]:
d = {'Ram': 9841687908, 'Shyam': 98765676787}
a = {1:1, 2:4, 3:9, 4:16} 
d.update(a)
print(d)

{'Ram': 9841687908, 'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}

In [30]:
# delete
# del pop()
a = {'Ram': 9841687908, 'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}
del a["Ram"]# you can put key and value
print(a)

{'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
a = {'Ram': 9841687908, 'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}
b = a.pop("Ram")
print(a)
print(b)

{'Shyam': 98765676787, 1: 1, 2: 4, 3: 9, 4: 16}
9841687908

In [32]:
# list inside dict # multiple values, to read values use for loop
d = {'Ram': [9841687908, 9841687909 ], 'Shyam': [98765676787, 98765676788]}
print(d)

{'Ram': [9841687908, 9841687909], 'Shyam': [98765676787, 98765676788]}

In [47]:
d = {'Ram': [9841687908, 9841687909 ], 'Shyam': [98765676787, 98765676788]}
d["Ram"]

[9841687908, 9841687909]

In [43]:
d["Ram"] # list value

9841687908

In [49]:
d = {'Ram': [9841687908, 9841687909 ], 'Shyam': [98765676787, 98765676788]}
d["Ram"][1]

9841687909

In [36]:
d = {}
n = int(input("Enter n  = "))
for i in range(n):
    name = input("Enter name  = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name] = [ntc_phone,ncell_phone]
   
    
print(d)

Enter n  = 2
Enter name  = Ram
Enter ntc phone = 989887888
Enter ncell phone = 989888
Enter name  = Shyam
Enter ntc phone = 988877766
Enter ncell phone = 0999888777
{'Ram': [989887888, 989888], 'Shyam': [988877766, 999888777]}

In [ ]:
# d = {"name": [], "age":[], "add":[]}

In [52]:
d = {"name":[], "age":[], "add":[]}

n = int(input("Enter n  = "))
for i in range(n):
    name = input("Enter name  = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    
    d["name"].append(name)
    d["age"].append(age)
    d["add"].append(add)
    
print(d)

Enter n  = 2
Enter name  = Ram
Enter age = 89
Enter add = Kathmandu
Enter name  = Shyam
Enter age = 45
Enter add = Bhaktapur
{'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}

In [56]:
#Update - to change address # mutable data
d = {'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}
d["add"] [0] = "Ktm"
print(d)

{'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Ktm', 'Bhaktapur']}

In [57]:
#Delete - del -  d key then value.
d = {'name': ['Ram', 'Shyam'], 'age': [89, 45], 'add': ['Kathmandu', 'Bhaktapur']}
del d["name"] [0]
del d["age"] [0]
del d["add"] [0]
print(d)

{'name': ['Shyam'], 'age': [45], 'add': ['Bhaktapur']}

In [6]:
a = {("Ram", "Sita"): [9841687908, 9841687909 ], 'Shyam': [98765676787, 98765676788]}
print(a)

{('Ram', 'Sita'): [9841687908, 9841687909], 'Shyam': [98765676787, 98765676788]}

In [67]:
#dict inside list
#WAP to create dict inside list and perform Create Read Update Delete
d = [{"name": "Ram", "age":45, "add": "Kathmandu" },
    {"name": "Shyam", "age":75, "add": "Bhaktapur" },
    {"name": "Nabin", "age":54, "add": "Lalitpur" }]


# create 
a =[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name  =")
    age = int(input("Enter age ="))
    add = input("Enter add = ")
    data = {"name" :name, "age": age, "add": add}
    a.append(data)

print(a)

Enter n = 2
Enter name  =Ram
Enter age =78
Enter add = Kathmandu
Enter name  =Shyam
Enter age =89
Enter add = Bhaktapur
[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [68]:
# read
a = [{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]
a[0]["name"]

'Ram'

In [70]:
# update
a = [{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]
a[0] = {"name": "Rama", "age": 80, "add": "Lalitpur"}
print(a)

[{'name': 'Rama', 'age': 80, 'add': 'Lalitpur'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [73]:
# delete
a = [{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]
a[0]["name"] = "Rama"
print(a)

[{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [79]:
# nested dict
d = {1:{"name": "Ram", "age":10, "grade" : "A" },
     2:{"name": "Shyam", "age" :11, "grade" : "A+"},
     3:{"name": "Hari", "age" :14, "grade" : "B"},
     4:{"name": "Nabin", "age" :11, "grade" : "C"}}

d ={}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"name":name, "age": age, "add": add}
    d[i] = data
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Lalitpur
{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}

In [80]:
a = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}
a[3] = {"name": "Rama", "age" :83, "add": "Kathmandu"}
print(a)

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}, 3: {'name': 'Rama', 'age': 83, 'add': 'Kathmandu'}}

In [81]:
#update
a = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}
a[1] = {'name': 'Rama', 'age': 28, 'add': 'Bara'}
print(a)

{1: {'name': 'Rama', 'age': 28, 'add': 'Bara'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}

In [82]:
#delete
a = {1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}
del a[1]
print(a)

{2: {'name': 'Shyam', 'age': 89, 'add': 'Lalitpur'}}

In [ ]:
#WAP to create result management system for a class using
# dict. inside dict.
#physics = theory practical
#chemistry = theory practical
#maths
#english
#nepali
#total

d = {1:{"class": "Chemistry", "age":10, "grade" : "A" },
     2:{"class": "Shyam", "age" :11, "grade" : "A+"},
     3:{"name": "Hari", "age" :14, "grade" : "B"},
     4:{"name": "Nabin", "age" :11, "grade" : "C"}}

d ={}
n = int(input("Enter class = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"name":name, "age": age, "add": add}
    d[i] = data
    
print(d)