In [2]:
#file = open("<file_name", "<modes>") # open file then close file
# <operations>
# file.close()

In [3]:
# with open("<file_name", "<modes>") as file:
#    <operation>

In [4]:
# modes
# r -> read
# x -> create
# w -> write - overides existing data 
# a -> append - existing data and new data lines added to the data

In [6]:
file = open("data.txt", "x") # txt file extension x to create 
file.close() # below error is related to trying to create same file again.

FileExistsError: [Errno 17] File exists: 'data.txt'

In [ ]:
file = open("data.txt", "x") # txt file extension x to create 
file.close() # below error is related to trying to create same file again.

In [9]:
try:
    file = open("data.txt", "x")  
    file.close()
except:
    print("The file already exist")

The file already exist

In [16]:
with open("data.txt", "r") as file:
    print(file.read())

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [7]:
with open("data.txt", "r") as file:
    x = file.read()
    print(x)
    print(type(x))

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World
<class 'str'>

In [15]:
with open("data.txt", "r") as file:
    x = file.read()
    x = x.split("\n")
    print(x)

['1. Hello World', '2. Hello World', '3. Hello World', '4. Hello World', '5. Hello World', '6. Hello World', '7. Hello World', '8. Hello World']

In [1]:
with open("data.txt", "r") as file:
    x = file.read()
    x = x.split("\n")

n = int(input("Enter n = "))
print(x[n-1])

Enter n = 1
1. Hello World

In [26]:
# readline() # to read the first line of certain file
with open("data.txt", "r") as file:
    x = file.readline()
    print(x)
    print(type(x))

1. Hello World

<class 'str'>

In [4]:
with open("newdata.txt", "w") as file:
    file.write("Hello World")

In [5]:
with open("newdata.txt", "w") as file: 
    file.write("n2.Hello World")

In [7]:
with open("newdata.txt", "a") as file: # "append function"
    file.write("2.Hello World\n")

In [8]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input ("Enter name =")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total

print(s)
with open("newdata.txt", "w") as file:
    file.write(s)

Enter n = 2
Enter name =Apple
Enter price = 300
Enter quantity = 1
Enter name =Banana
Enter price = 150
Enter quantity = 1
Apple 300 1 300
Banana 150 1 150

In [10]:
#.csv file, comma seperated value(csv) is run on miscrosoft excel
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input ("Enter name =")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name},{price},{quantity},{total}\n"
    bill = bill+total

print(s)

with open("newdata.csv", "w") as file:#.csv ms excel
    file.write("Name,Price,Quantity,Total\n")  # EXCL Table Header
    file.write(s)

Enter n = 2
Enter name =Apple
Enter price = 300
Enter quantity = 2
Enter name =Banana
Enter price = 3
Enter quantity = 100
Apple,300,2,600
Banana,3,100,300

In [13]:
import os
try:
    os.remove("data.txt") # to remove file
except:
    print("The file is not there!")

The file is not there!

In [1]:
import pandas as pd #  pandas package
df = pd.read_csv("newdata.csv") # df = dataframe (Tabular Data)
df

     Name  Price  Quantity  Total
0   Apple    300         2    600
1  Banana      3       100    300