In [ ]:
a = [1,2,3,4,5]
b = ["Apple", "Ball", "Cat"]
print(a)
print(b)
print(type(a))
print(type(b))

In [ ]:
b = ["Apple", "Ball", "Cat"]
print(b[2])

In [ ]:
print(len(b))

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:3]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:5:]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:5:2]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
b

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
c = ["Goat"]
d = b+c # concatenation.
print(d)

In [ ]:
type(c)

In [ ]:
type(c[0])

In [ ]:
a =[1,2,3,4]
print(a*2) # it does not multiply but it enlarges the list.

In [ ]:
l = list() # or []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
print(l)

In [ ]:
print("The max value = ",max(l)) 
print("The min value = ",min(l))
print("the sum = ", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
a = ["apple", "Ant", "Ball","Zebra", "cat"]
a.sort()
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.sort()
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
for i in a:
    print(i)

In [ ]:
a = x, y =  [100,200]

In [ ]:
x, y =  [100,200]
print(x)
print(y)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
for i in a:
    if i != "Ball":
        print(i)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
if "Ant" in a:
    print("Yes", a.count("Ant"))

else:
    print("No")

In [ ]:
# append() insert() extend()

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.append("Goat")
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.insert(1,"Goat")
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
b = ["Fish","Apple"]
a.extend(b)
print(a)

In [ ]:
l = list() # or []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
print(l)

In [2]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
print(a)

['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [3]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
a [0] = "Ant"
print(a)

['Ant', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [4]:
#update
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
a [0:3] = [1,2,3]
print(a)

[1, 2, 3, 'Ball', 'Zebra', 'Cat']

In [5]:
#del to delete value
#remove()
#pop

a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
del a[0]
print(a)

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [6]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
del a[0:3]
print(a)

['Ball', 'Zebra', 'Cat']

In [8]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.remove("Apple")
print(a)

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [9]:
#pop
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.pop(1)
print(a)

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat']

In [10]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
b = a.pop(1)
print(a)
print(b)

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat']
Goat

In [11]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.remove("Apple")
print(a) # multiple value of the same word will not be removed.

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [12]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat", "Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
print(a) # # multiple value of the same word will be remove

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [15]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat",]
a.index("Zebra")

4

In [20]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat", "Zebra"]
l = len(a)
for i in range(l):
    if a[i] == "Zebra":
        print(i)

4
6

In [22]:
#a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
#if "Ant" in a:
   # print("Yes", a.count("Ant"))

#else:
   # print("No")
    # MAKE CASE INSENSITIVE WAP

In [23]:
#list inside list (nested list)

In [29]:
a = [[1,2,3], [4,5,6], [7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [28]:
a = [[1,2,3], [4,5,6], [7,8,9]]
print(a[0])

[1, 2, 3]

In [30]:
a = [[1,2,3], [4,5,6],[7,8,9]]
print(a[0])

[1, 2, 3]

In [31]:
a[2][0]

7

In [39]:
a = [["Ram", 34, "Kathmandu"], 
    ["Shyam", 45, "Lalitpur"],
    ["Hari", 67, "Bhaktapur"]] 
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [40]:
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Lalitpur']
['Hari', 67, 'Bhaktapur']

In [57]:
data = []
n = int(input("Enter n = ")
        for i in range(n):
        name = int(input("Enter name = "))
        age = int(input("Enter age = "))
        add = input("Enter add = ")
        data.append([name,age,add])
        print(data)

SyntaxError: invalid syntax (2993436358.py, line 3)

In [47]:
a = [["Ram", 34, "Kathmandu"], ["Nabin", 56,]]
a.append(["Age", 45, "Lalitpur"])
print(a)

[['Ram', 34, 'Kathmandu'], ['Nabin', 56], ['Age', 45, 'Lalitpur']]

In [51]:
a= [['Ram', 34, 'Kathmandu'], ['Nabin', 56], ['Age', 45, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [56]:
a= [['Ram', 34, 'Kathmandu'], ['Nabin', 56], ['Ram', 45, 'Lalitpur']]
name = input("Enter name = ")
for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name = Ram
0
2

In [58]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input ("Enter name =")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total

print(s)
print(bill)

Enter n = 2
Enter name =Apple
Enter price = 34
Enter quantity = 3
Enter name =Banana
Enter price = 200
Enter quantity = 2
Apple 34 3 102
Banana 200 2 400

502

In [59]:
s.split("\n") # split converts into list

['Apple 34 3 102', 'Banana 200 2 400', '']

In [60]:
x = s.split("\n") [0:-1] # to not show space in output.
print(x)

['Apple 34 3 102', 'Banana 200 2 400']

In [62]:
bill = []
for i in x:
    y = i.split()
    bill.append(y)
print(bill)

[['Apple', '34', '3', '102'], ['Banana', '200', '2', '400']]

Enter n = 5
Enter x = 123
Enter x = 45
Enter x = 23
Enter x = 456
Enter x = 231
(123, 45, 23, 456, 231)