In [1]:
#Set
# - it does not support indexing
# - no duplicate data
# - unordered data type
# - Mutable

In [3]:
a = set()
b = {1,2,3,4,1,3,4,5,2,3}
c = {"Ball", "Apple","Cat"}
print(b) # no duplicate has been printed on output
print(c) # not ordered is printed on output
print(type(b))
print(type(c))

{1, 2, 3, 4, 5}
{'Cat', 'Ball', 'Apple'}
<class 'set'>
<class 'set'>

In [5]:
c = {"Ball", "Apple","Cat"} # unordered data type
for i in c:
    print(i)

Cat
Ball
Apple

In [6]:
c = {"Ball", "Apple","Cat"} # Mutable, able to add new info.
c.add("Dog")
print(c)

{'Cat', 'Dog', 'Ball', 'Apple'}

In [8]:
l = set()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x  ="))
    l.add(x)

print(l)

Enter n =4
Enter x  =23
Enter x  =456
Enter x  =354
Enter x  =576
{456, 354, 576, 23}

In [9]:
a = {1,3,4,5,7,2}
b = {9,1,6}
a.update(b) # to add a and b data into one using update
print(a)

{1, 2, 3, 4, 5, 6, 7, 9}

In [10]:
a = {1,3,4,5,7,2}
b = {9,1,6}
a.remove(3) # to remove
print(a)

{1, 2, 4, 5, 7}

In [12]:
a =[1,3,2,3,4,5,6,7,5,7,8,9,]
b = set(a) # duplicate value is removed.
a = list(b) # converted into list
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
a = {(1,2,3)}
print(a)

{(1, 2, 3)}

In [15]:
# union
# intersection
# difference

In [17]:
# union means a and b are merging together
apple = {"Ram","Shyam", "Hari", "Nabin", "Sabin"}
ms = {"Hari", "Nabin", "Jack", "Sarita"}

apple.union(ms)

{'Hari', 'Jack', 'Nabin', 'Ram', 'Sabin', 'Sarita', 'Shyam'}

In [18]:
# both the people below are associated with both companies.
apple.intersection(ms)

{'Hari', 'Nabin'}

In [19]:
apple-ms # all people working for apple but not microsoft.

{'Ram', 'Sabin', 'Shyam'}

In [20]:
ms-apple # all people working for miscrosoft but not apple.

{'Jack', 'Sarita'}

In [21]:
apple.difference(ms) # all people working for apple but not microsoft.

{'Ram', 'Sabin', 'Shyam'}

In [24]:
# union means a and b are merging together

u = {"Ram","Shyam", "Hari", "Nabin", "Sabin", "Sarita", "Shyam", "Nikesh ", "Bikesh "}
apple = {"Ram","Shyam", "Hari", "Nabin", "Sabin"}
ms = {"Hari", "Nabin", "Jack", "Sarita"}

apple.union(ms)

{'Hari', 'Jack', 'Nabin', 'Ram', 'Sabin', 'Sarita', 'Shyam'}

In [25]:
apple = {"Ram","Shyam", "Hari", "Nabin", "Sabin"}
ms = {"Hari", "Nabin", "Jack", "Sarita"}

apple.issubset(ms)

False

In [26]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {3,2,5,1}
b.issubset(a) #subset

True

In [29]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {3,2,5,1}
a.issuperset(b) # superset

True

In [30]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {3,2,5,1}
a.isdisjoint(b) # disjoint

False