In [2]:
a = str()

In [13]:
a = "Python"
b = 'Python'
c = '''Python'''

print(a, b, c)

Python Python Python

In [14]:
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
# string is imutable data type

In [8]:
a = "Hello "
b = "World"
c = a+b # concatenation
print(c)

Hello World

In [10]:
a = "Hello World "
print(a*2)

Hello World Hello World

In [12]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [15]:
a = input("Enter a = ")
print(a)

Enter a = Python
Python

In [16]:
a = "Hello World"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [17]:
a = "Hello World"
print(a[0]) #indexing

H

In [18]:
a = "Hello World"
print(a[-1]) # indexing

d

In [19]:
a = "Hello World"
print(a[1]) # indexing

e

In [20]:
a = "Hello World"
print(a[0:5]) # string slicing

Hello

In [21]:
a = "Hello World"
b = (a[0:5])
print(b) # string slicing

Hello

In [22]:
a = "Hello World"
b = a[0:5]
print(b)

Hello

In [23]:
a = "Hello World"
b = a[0:5]
print(a[5:])

 World

In [26]:
a = "Hello World"
a[0:11:1]

'Hello World'

In [31]:
a = "Hello World"
print(a[0:11:2])

HloWrd

In [28]:
a = "Hello World"
a[:0:-1] # dont put zero to index backwwards

'dlroW olle'

In [30]:
a = "Hello World"
print(a[::-1])

dlroW olleH

In [32]:
# string formatting
name = "Ram"
age = 23

print(name+str(age))

Ram23

In [33]:
name = input("Enter name =")
age = int(input("Enter age = "))
add = input("Enter Address =")
info = "Hello World I am " +name+" I am from "+add+ "I am "+str(age)
print(info)

Enter name =Ram
Enter age = 89
Enter Address =Kathmandu
Hello World I am Ram I am from KathmanduI am 89

In [34]:
# string formatting
name = input("Enter name =")
age = int(input("Enter age = "))
add = input("Enter Address =")
info = f"Hello World I am {name} I am from {add} I am {age}"
print(info)

Enter name =Ram
Enter age = 45
Enter Address =Kathmandu
Hello World I am Ram I am from Kathmandu I am 45

In [42]:
bill = 0
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input ("Enter name =")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s + f"{name} {price} {quantity} {total}\n"
    bill = bill+total

print(s)
print(bill)

Enter n = 2
Enter name =Apple
Enter price = 100
Enter quantity = 50
Enter name =Avisek
Enter price = 200
Enter quantity = 50
Apple 100 50 5000
Avisek 200 50 10000

15000

In [43]:
#Search = to search squence of characters
name = "Ram Shyam Hari Sita Gita Ram Ram"
print(name)

Ram Shyam Hari Sita Gita Ram Ram

In [44]:
name = "Ram Shyam Hari Sita Gita Ram Ram"
if "Ram " in name:
    print("Yes")
else:
    print("No")

Yes

In [45]:
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = input("Enter name = ")
if x in name:
    print("Yes")
    print(name.count(x)) # count x
else:
    print("No")

Enter name = Ram
Yes
3

In [49]:
a = "Ram"
print(a.lower())
print(a.upper())

ram
RAM

In [51]:
name = "Ram Shyam Hari Sita Gita Ram Ram".lower()
x = input("Enter name = ").lower()
if x in name:
    print("Yes")
    print(name.count(x)) #  to remove case sensitive
else:
    print("No")

Enter name = ram
Yes
3

In [52]:
name = "Ram Shyam Hari Sita Gita Ram Ram".lower()
print(name)

ram shyam hari sita gita ram ram

In [53]:
name = "Ram Shyam Hari Sita Gita Ram Ram"
print(name.lower())

ram shyam hari sita gita ram ram

In [1]:
name = "Ram Shyam Hari Sita Gita Ram Ram"
print(name.lower())
print(name)

ram shyam hari sita gita ram ram
Ram Shyam Hari Sita Gita Ram Ram

In [2]:
name = "Ram Shyam Hari Sita Gita Ram Ram".lower()
print(name)

ram shyam hari sita gita ram ram

In [4]:
#replace()
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = name.replace("Ram", "ram")
print(x)

print(name)

ram Shyam Hari Sita Gita ram ram
Ram Shyam Hari Sita Gita Ram Ram

In [6]:
 # to remove name
name = "Ram Shyam Hari Sita Gita Ram Ram"
x = name.replace("Ram", "")
print(x)

 Shyam Hari Sita Gita

In [7]:
a = "Hello World"
for i in a:
    if i != " ":
        print(i, end = "")

HelloWorld

In [10]:
a = "Hello" # to use for loop in range.
n = len(a)
for i in range(n):
    print(i, a[i])

0 H
1 e
2 l
3 l
4 o

In [12]:
a = "Hello" # to use while loop in range.
n = len(a)
i = 0
while i<n:
    print(i, a[i])
    i = i+1

0 H
1 e
2 l
3 l
4 o