In [ ]:
a = [1,2,3,4,5]
b = ["Apple", "Ball", "Cat"]
print(a)
print(b)
print(type(a))
print(type(b))

In [ ]:
b = ["Apple", "Ball", "Cat"]
print(b[2])

In [ ]:
print(len(b))

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:3]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:5:]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b[0:5:2]

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
b

In [ ]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "Apple"]
c = ["Goat"]
d = b+c # concatenation.
print(d)

In [ ]:
type(c)

In [ ]:
type(c[0])

In [ ]:
a =[1,2,3,4]
print(a*2) # it does not multiply but it enlarges the list.

In [ ]:
l = list() # or []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
print(l)

In [ ]:
print("The max value = ",max(l)) 
print("The min value = ",min(l))
print("the sum = ", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
a = ["apple", "Ant", "Ball","Zebra", "cat"]
a.sort()
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.sort()
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
for i in a:
    print(i)

In [ ]:
a = x, y =  [100,200]

In [ ]:
x, y =  [100,200]
print(x)
print(y)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
for i in a:
    if i != "Ball":
        print(i)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
if "Ant" in a:
    print("Yes", a.count("Ant"))

else:
    print("No")

In [ ]:
# append() insert() extend()

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.append("Goat")
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
a.insert(1,"Goat")
print(a)

In [ ]:
a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
b = ["Fish","Apple"]
a.extend(b)
print(a)

In [ ]:
l = list() # or []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
print(l)

In [2]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
print(a)

['Apple', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [3]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
a [0] = "Ant"
print(a)

['Ant', 'Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [4]:
#update
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
a [0:3] = [1,2,3]
print(a)

[1, 2, 3, 'Ball', 'Zebra', 'Cat']

In [5]:
#del to delete value
#remove()
#pop

a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
del a[0]
print(a)

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [6]:
a = ["Apple", "Goat" , "Ant", "Ball","Zebra", "Cat"]
del a[0:3]
print(a)

['Ball', 'Zebra', 'Cat']

In [8]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.remove("Apple")
print(a)

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [9]:
#pop
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.pop(1)
print(a)

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat']

In [10]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
b = a.pop(1)
print(a)
print(b)

['Apple', 'Ant', 'Ball', 'Zebra', 'Cat']
Goat

In [11]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat"]
a.remove("Apple")
print(a) # multiple value of the same word will not be removed.

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [12]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat", "Apple"]
n = a.count("Apple")
for i in range(n):
    a.remove("Apple")
print(a) # # multiple value of the same word will be remove

['Goat', 'Ant', 'Ball', 'Zebra', 'Cat']

In [15]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat",]
a.index("Zebra")

4

In [20]:
a = ["Apple", "Goat", "Ant", "Ball","Zebra", "Cat", "Zebra"]
l = len(a)
for i in range(l):
    if a[i] == "Zebra":
        print(i)

4
6

In [ ]:
#a = ["Apple", "Ant", "Ball","Zebra", "Cat"]
#if "Ant" in a:
    print("Yes", a.count("Ant"))

#else:
   # print("No")
    # MAKE CASE INSENSITIVE WAP