In [ ]:
# Tuple
# Tuple is also a datatype
# Indexing
# Ordered
# Multiple value
# Duplicate value
# Imutable

In [ ]:
t = tuple()
t = (1,2,3,4,5,6,)
r = ("Apple", "Ball", "Cat")
print(r)
print(type(r))

In [ ]:
r = ("Apple", "Ball", "Cat")
type(r)

In [ ]:
r = ("Apple")
type(r)

In [ ]:
r = ("Apple", "Ball",)
type(r)

In [ ]:
r = ("Apple")
type(r)

In [ ]:
r = ("Apple", "Ball", "Cat")
r[1]

In [ ]:
r = ("Apple", "Ball", "Cat")
r[0]

In [ ]:
r = ("Apple", "Ball", "Cat")
r[2]

In [ ]:
t = (1,2,3,4,5,6)
r = ("Apple", "Ball", "Cat")
t+r

In [ ]:
r = ("Apple", "Ball", "Cat")
r*2

In [ ]:
# WAP to  create a tuple by taking data from user

tuple = (3, 4.6, 7, 9, 10, 12, "dog", "cat", "mouse", "turtle", )
print(tuple)
type(tuple)

In [ ]:
first_tuple = 7, 8, 9, "creation"
print(first_tuple)

In [ ]:
# no append() insert() extend()
# no update
# no del remove() pop()
# no sort()

In [3]:
t = tuple() 
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n = 5
Enter x = 34
Enter x = 56
Enter x = 45
Enter x = 67
Enter x = 78
(34, 56, 45, 67, 78)

In [4]:
t = (123, 45, 23, 456, 231)
x = list(t)
del x[0]
t = tuple(x)
print(t)

(45, 23, 456, 231)

In [ ]:
#sum() max() min() index()

In [ ]:
# tuple inside tuple
a = ((1,2,3), 
     (4,5,6), 
     (7,8,9))

In [2]:
data = tuple()
n = int(input("Enter n = "))
for i in range(n):
        name = input("Enter name = ")
        age  = int(input("Enter age = "))
        add  = input("Enter add = ")
        data = data + ((name,age,add),)
print(data)

Enter n = 2
Enter name = ram
Enter age = 34
Enter add = kathmandu
Enter name = Shyam
Enter age = 45
Enter add = bakhtapur
(('ram', 34, 'kathmandu'), ('Shyam', 45, 'bakhtapur'))